.container{
    display:flex;
}
.box{
width:200px;
height:100px;
font-weight: bold;
color: white;
padding: 10px;
font-size: 20px;
}
.box1{
    background-color: red;
}
.box2{
    background-color: green;
}
.box3{
    background-color: blue;
}